/PersonalAccountingClient/nbproject/private/
/PersonalAccountingClient/target/
/PersonalAccountingClientProject/target/
/personal_accounting_full_ui/Client/target/
/personal-accounting/target/
/personal_accounting_javafx/target/
/personal_finance_javafx/target/
